# News Category Detection Using | Naive Bayes

# Importing Basic Libraries

In [1]:
import os
import pandas as pd

# Importing Datasets

In [2]:
listbussi = []
for i in os.listdir("C:/Users/rushi/OneDrive/Desktop/Daily Machine Learning Algorithm Prectice/naive bayes/business"):
    with open("C:/Users/rushi/OneDrive/Desktop/Daily Machine Learning Algorithm Prectice/naive bayes/business/"+i) as f:
        listbussi.append(f.read().replace('\n',' '))

listenet = []
for i in os.listdir("C:/Users/rushi/OneDrive/Desktop/Daily Machine Learning Algorithm Prectice/naive bayes/entertainment"):
    with open("C:/Users/rushi/OneDrive/Desktop/Daily Machine Learning Algorithm Prectice/naive bayes/entertainment/"+i) as f:
        listenet.append(f.read().replace('\n',' '))

listfood = []
for i in os.listdir("C:/Users/rushi/OneDrive/Desktop/Daily Machine Learning Algorithm Prectice/naive bayes/food"):
    with open("C:/Users/rushi/OneDrive/Desktop/Daily Machine Learning Algorithm Prectice/naive bayes/food/"+i,'r', encoding="utf8") as f:
        listfood.append(f.read().replace('\n',' '))

listgrap = []
for i in os.listdir("C:/Users/rushi/OneDrive/Desktop/Daily Machine Learning Algorithm Prectice/naive bayes/graphics"):
    with open("C:/Users/rushi/OneDrive/Desktop/Daily Machine Learning Algorithm Prectice/naive bayes/graphics/"+i,'r', encoding="utf8") as f:
        listgrap.append(f.read().replace('\n',' '))

listhis = []
for i in os.listdir("C:/Users/rushi/OneDrive/Desktop/Daily Machine Learning Algorithm Prectice/naive bayes/historical"):
    with open("C:/Users/rushi/OneDrive/Desktop/Daily Machine Learning Algorithm Prectice/naive bayes/historical/"+i,'r', encoding="utf8") as f:
        listhis.append(f.read().replace('\n',' '))
        
listmedi = []
for i in os.listdir("C:/Users/rushi/OneDrive/Desktop/Daily Machine Learning Algorithm Prectice/naive bayes/medical"):
    with open("C:/Users/rushi/OneDrive/Desktop/Daily Machine Learning Algorithm Prectice/naive bayes/medical/"+i,'r', encoding="utf8") as f:
        listmedi.append(f.read().replace('\n',' '))
        
listpoli = []
for i in os.listdir("C:/Users/rushi/OneDrive/Desktop/Daily Machine Learning Algorithm Prectice/naive bayes/politics"):
    with open("C:/Users/rushi/OneDrive/Desktop/Daily Machine Learning Algorithm Prectice/naive bayes/politics/"+i,'r', encoding="utf8") as f:
        listpoli.append(f.read().replace('\n',' '))

listspace = []
for i in os.listdir("C:/Users/rushi/OneDrive/Desktop/Daily Machine Learning Algorithm Prectice/naive bayes/space"):
    with open("C:/Users/rushi/OneDrive/Desktop/Daily Machine Learning Algorithm Prectice/naive bayes/space/"+i,'r', encoding="utf8") as f:
        listspace.append(f.read().replace('\n',' '))

listsport = []
for i in os.listdir("C:/Users/rushi/OneDrive/Desktop/Daily Machine Learning Algorithm Prectice/naive bayes/sport"):
    with open("C:/Users/rushi/OneDrive/Desktop/Daily Machine Learning Algorithm Prectice/naive bayes/sport/"+i,'r', encoding="utf8") as f:
        listsport.append(f.read().replace('\n',' '))

listtech = []
for i in os.listdir("C:/Users/rushi/OneDrive/Desktop/Daily Machine Learning Algorithm Prectice/naive bayes/technologie"):
    with open("C:/Users/rushi/OneDrive/Desktop/Daily Machine Learning Algorithm Prectice/naive bayes/technologie/"+i,'r', encoding="utf8") as f:
        listtech.append(f.read().replace('\n',' '))

# Creating DataFrame

In [3]:
df_business = pd.DataFrame(listbussi)
df_business['class'] = 'business'

df_entertainment = pd.DataFrame(listenet)
df_entertainment['class'] = 'entertainment'

df_food = pd.DataFrame(listfood)
df_food['class'] = 'food'

df_graphics = pd.DataFrame(listgrap)
df_graphics['class'] = 'graphics'

df_historical = pd.DataFrame(listhis)
df_historical['class'] = 'historical'

df_medical = pd.DataFrame(listmedi)
df_medical['class'] = 'medical'

df_politics = pd.DataFrame(listpoli)
df_politics['class'] = 'politics'

df_space = pd.DataFrame(listspace)
df_space['class'] = 'space'

df_sport = pd.DataFrame(listsport)
df_sport['class'] = 'sport'

df_technologie = pd.DataFrame(listtech)
df_technologie['class'] = 'technologie'

# Concatenate All DataFrames

In [4]:
df = pd.concat([df_business, df_entertainment, df_food, df_graphics, df_historical, df_medical, df_politics, df_space, df_sport, df_technologie])

In [5]:
df.head()

                                                   0     class
0  Lufthansa flies back to profit  German airline...  business
1  Winn-Dixie files for bankruptcy  US supermarke...  business
2  US economy still growing says Fed  Most areas ...  business
3  Saab to build Cadillacs in Sweden  General Mot...  business
4  Bank voted 8-1 for no rate change  The decisio...  business

In [6]:
df.tail()

                                                    0        class
95  Mobile games come of age  The BBC News website...  technologie
96  California sets fines for spyware  The makers ...  technologie
97  Web helps collect aid donations  The web is he...  technologie
98  Mobiles rack up 20 years of use  Mobile phones...  technologie
99  Blogs take on the mainstream  Web logs or blog...  technologie

In [7]:
df.shape

(1000, 2)

In [8]:
df[df['class'] == 'business'].shape

(100, 2)

In [9]:
x = df[0]
y = df['class']

# Splitting into training and testing Data

In [10]:
from sklearn.model_selection import train_test_split
x, xtest, y, ytest = train_test_split(x,y, stratify=y, test_size=0.25, random_state=42)

In [11]:
print("x:",len(x))
print("xtest:",len(xtest))
print("y:",len(y))
print("ytest:",len(ytest))

x: 750
xtest: 250
y: 750
ytest: 250

In [12]:
y

28          space
19           food
14     historical
32       graphics
7        business
         ...
20           food
46    technologie
31       graphics
82       graphics
61       graphics
Name: class, Length: 750, dtype: object

# Vectorize text reviews to numbers

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
vec = CountVectorizer(stop_words='english')
x = vec.fit_transform(x).toarray()
xtest = vec.transform(xtest).toarray()

In [14]:
x

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

# Training

In [15]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(x, y)

MultinomialNB()

# Accuracy of Model

In [16]:
print("Accuracy of Model:",model.score(xtest,ytest)*100)

Accuracy of Model: 97.2

# Predicting Category

In [17]:
model.predict(vec.transform(['Lufthansa flies back to profit German']))

array(['business'], dtype='<U13')

In [18]:
model.predict(vec.transform(['Mobile games come of age The BBC News']))

array(['technologie'], dtype='<U13')

# Thank You